<?xml version="1.0" encoding="utf-8"?>
<routeConfig>
  <!--默认命名空间，如果Area中的Controller名称和最外层的Controller名称有相同的，则必须配置此节点，否则会导致Route失败 -->
  <defaultNamespace name="BlueStone.Smoke.Msite.Controllers.*"/>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w.+" />
      </constraints>
    </add>


    <add url="{resourceDoc}/{resource}.aspx/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w.+" />
      </constraints>
    </add>
  </ignore>
  <areas>
    <!--<area name="Web">
      <namespaces>
        <namespace name="Nesoft.ECWeb.UI.Controllers"></namespace>
      </namespaces>
      <map>
        
      </map>
    </area>-->

    <!--<area name="SSL">
      <namespaces>
        <namespace name="Nesoft.ECWeb.UI.Areas.SSL.Controllers"></namespace>
      </namespaces>
      <map>
        <route name="SSL_Default" url="SSL/{Controller}/{Action}"  controller="Home" action="Index" needssl="1"></route>
      </map>
    </area>-->

  </areas>

  <map>
    <!-- Area 外直接的视图/Controller路由，所有的route节点必须添加到name="Website_Default"之前-->

    <!--参数传递demo如下，和action的参数名必须保持一致（categorySysNo）
    
     <route name="NewsList" url="NewsList/{categorySysNo}" controller="Topic" action="NewsList">
          <parameters>
            <add name="categorySysNo" value="{categorySysNo}" />
          </parameters>
        </route>
    -->
    <route name="DeviceInstallDescription" url="installdesc" controller="Smoke" action="TopicDetail">
      <parameters>
        <add name="sysno" value="1"></add>
      </parameters>
    </route>
    <route name="NewsList" url="news" controller="Smoke" action="TopicList">
    </route>
    <route name="NewsDetail" url="news/detail/{sysNo}" controller="Smoke" action="TopicDetail">
      <parameters>
        <add name="sysNo" value="{sysNo}"></add>
      </parameters>
    </route>
    <route name="Home_Default" url="" controller="Smoke" action="DeviceList"></route> 
    <route name="Website_Default" url="{Controller}/{Action}"  controller="{Controller}" action="{Action}"></route>
  </map>
</routeConfig>
