<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--persistType为Cookie实现类型，有Web、Mobile等值；securityLevel为安全等级，有Low、Middle、High等值-->
  <cookies nodeName="bluestone_pm_login"  securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[LoginCookie]]></cookieName>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[pm.pre]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟;只有安全等级为High时生效-->
    <securityExpires><![CDATA[100]]></securityExpires>
  </cookies>
  <cookies nodeName="ReturnUrl" persistType="Web" securityLevel="Low">
    <!--Cookie名称-->
    <cookieName><![CDATA[ReturnUrl]]></cookieName>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[pm.pre]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[10]]></securityExpires>
  </cookies>
  <cookies nodeName="LoginVerifyCode" persistType="Web" securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[LoginVerifyCode]]></cookieName>
    <!--Hash密钥-->
    <hashkey><![CDATA[baeaaea5-3d57-4b98-abde-47ac0aa15d54]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[5cb8b18c-7b5e-4f7b-a7c2-4603a250f39b]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[pm.pre]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[10080]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[100]]></securityExpires>
  </cookies>
</configuration>
