<?xml version="1.0" encoding="utf-8"?>
<ArrayOfTargetUrlItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <TargetUrlItem Title="创建设备"  Name="CreateDevice"  Method="POST" Url="http://120.199.93.228:8081/api/In/AddDevice"  />
  <TargetUrlItem Title="删除设备"  Name="DeleteDevice" Method="GET" Url="http://120.199.93.228:8081/api/In/DeleteDevice?DeviceID={0}"  />
  <TargetUrlItem Title="向设备发送消警命令"  Name="SendCmdNBIOT" Method="GET" Url="http://120.199.93.228:8081/api/In/SendCmdNBIOT?imei={0}"  />
  <TargetUrlItem Title="更新设备"  Name="UpdateDevice" Method="POST" Url="http://120.199.93.228:8081/api/In/UpdateDevice"  />

</ArrayOfTargetUrlItem>