<?xml version="1.0" encoding="utf-8" ?>

<weiXinPush>
  <!--本站在第三方平台的唯一ID-->
  <appId>wxef906af1ecea9a9b</appId>
  <!--本站在第三方平台唯一ID的的密钥-->
  <appSecret>6577c88041f0bf6dec95d9b9c291211a</appSecret>
  
  
  <!--获取微信用户信息步骤-->  
  <!--1、微信登录地址（通过scope=snsapi_userinfo获取code）-->
  <loginUrl>https://open.weixin.qq.com/connect/oauth2/authorize</loginUrl>
  <!--2、微信登录回调地址-->
  <loginBackUrl>http://tfs-code2.chinacloudapp.cn/WeiXin/WXLoginBack</loginBackUrl>
  <!--3、获取网页授权access_token（根据第1步获取到的code获取网页access_token以及openID）-->
  <webAccessTokenUrl>https://api.weixin.qq.com/sns/oauth2/access_token</webAccessTokenUrl>

  <!--4、获取用户基本信息地址（根据第3步获取到的access_token和openID获取用户基本信息）-->
  <getUserInfoUrl>https://api.weixin.qq.com/sns/userinfo</getUserInfoUrl>


  <!--编码-->
  <encoding>utf-8</encoding>

  <!--共用token地址调用基础api时使用和网页的token、JSAPI的token不相同-->
  <commonAccessTokenUrl>https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential</commonAccessTokenUrl>

  <!--获取jsapi_ticket-->
  <jsapiTicketUrl>https://api.weixin.qq.com/cgi-bin/ticket/getticket</jsapiTicketUrl>

  <!--需要调用的jsapi接口列表，以英文逗号隔开-->
  <jsApis>scanQRCode</jsApis>

  <!--推送模板消息地址-->
  <templateMessageUrl>https://api.weixin.qq.com/cgi-bin/message/template/send?access_token=</templateMessageUrl>
</weiXinPush>
