@{ 
    ViewBag.Title = "错误";
}
<div class="error-header"></div>
<section class="error-container text-center">
    <h1>出错啦！</h1>
    <div class="error-divider">
    @if (ViewBag.Error != null)
    {
        <h2></h2>
        <p class="description">@(ViewBag.Error)</p>
    }
    else
    {
        if (Model.Exception != null)
        {
            if (Model.Exception.HelpLink == "BizEx")
            {
                <p class="description">@(Model.Exception.Message)</p>
            }
            else
            {

                <p class="description">页面出错啦，请联系管理员！</p>

            }
        }
    }


        <div class="text-center">
            <a href="/Home/Index" class="return-btn"><i class="fa fa-home"></i>主页</a> 
        </div>
    </div>

</section>
@*方便本地调试的信息*@
@if (Request.Url.Host.Contains("localhost"))
{
    <div style="margin-top:10px;">
        <p class="text-center">本地调试信息</p>
        <p>@(ViewBag.Error)</p>
        <p>异常详细信息：@(Model.Exception.Message)</p>
        <p>错误堆栈：@(Model.Exception.StackTrace)</p>
    </div>
}


