

<div class=" col-md-offset-3" >
    <button class="btn btn-default" data-bind="click:$root.Buttons.CreateBtnClick,visible:$root.Buttons.CreateBtn.visible">
        <span data-bind="text:$root.Buttons.CreateBtn.text"></span> <i class="icon-plus icon-white"></i>
    </button>
    <button class="btn btn-default" data-bind="click:$root.Buttons.ActiveBtnClick,visible:$root.Buttons.ActiveBtn.visible">
        <span data-bind="text:$root.Buttons.ActiveBtn.text"></span> <i class="icon-ok icon-white"></i>
    </button>
    <button class="btn btn-default" data-bind="click:$root.Buttons.DeActiveBtnClick,visible:$root.Buttons.DeActiveBtn.visible">
        <span data-bind="text:$root.Buttons.DeActiveBtn.text"></span> <i class="icon-ban-circle icon-white"></i>
    </button>
    <button class="btn btn-default" data-bind="click:$root.Buttons.DeleteBtnClick,visible:$root.Buttons.DeleteBtn.visible">
        <span data-bind="text:$root.Buttons.DeleteBtn.text"></span> <i class="icon-remove icon-white"></i>
    </button>
</div>
